.center {
    padding: 300px;
    display: contents;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.vertical {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    gap: 12px;
    align-self: left;
    align-content: left;
    text-align: left;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#mainDiv {
    margin: 5% auto;
    width: 80%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
}

#formDiv {
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: left;
}

body {
    background-color: antiquewhite;
    text-align: center;
}

footer {
    text-align: center;
}